
/** $VER: Resources.rc (2023.11.13) P. Stuer **/

#include "Resources.h"

#include <winres.h>

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

VS_VERSION_INFO versioninfo
fileversion     NUM_FILE_MAJOR,    NUM_FILE_MINOR,    NUM_FILE_PATCH,    NUM_FILE_PRERELEASE
productversion  NUM_PRODUCT_MAJOR, NUM_PRODUCT_MINOR, NUM_PRODUCT_PATCH, NUM_PRODUCT_PRERELEASE
fileflagsmask   0x3FL
#ifdef _DEBUG
fileflags       VS_FF_DEBUG
#else
fileflags       0
#endif
fileos          VOS_NT_WINDOWS32
filetype        VFT_DLL
filesubtype     VFT2_UNKNOWN
{
    block "StringFileInfo"
    {
        block "040904E4" // U.S. English, Multilingual character set
        {
            value "FileVersion",      STR_FILE_VERSION     "\0"
            value "FileDescription",  STR_FILE_DESCRIPTION "\0"
            value "LegalCopyright",   STR_COPYRIGHT        "\0"
            value "LegalTrademarks",                       "\0"
            value "Comments",         STR_COMMENTS         "\0"
            value "CompanyName",      STR_COMPANY_NAME     "\0"
            value "InternalName",     STR_INTERNAL_NAME    "\0"
            value "OriginalFilename", STR_FILE_NAME        "\0"
            value "ProductName",      STR_PRODUCT_NAME     "\0"
            value "ProductVersion",   STR_PRODUCT_VERSION  "\0"
        }
    }

    block "VarFileInfo"
    {
        value "Translation", 0x409, 1252    // U.S. English, Multilingual character set
    }
}

/** Configuration dialog **/

#define H_LABEL     8

#define W_BUTTON    50
#define H_BUTTON    14

#define H_EDITTEXT  14

#define W_DIALOG   320
#define H_DIALOG   200

#define X_FILENAME_LABEL    7
#define Y_FILENAME_LABEL    7 + 2
#define W_FILENAME_LABEL    30
#define H_FILENAME_LABEL    H_LABEL

#define X_FILENAME          X_FILENAME_LABEL + W_FILENAME_LABEL + 3
#define Y_FILENAME          7
#define W_FILENAME          W_DIALOG - X_FILENAME - 7 - 66
#define H_FILENAME          H_EDITTEXT

#define X_CANCEL            W_DIALOG - W_BUTTON - 7
#define Y_CANCEL            H_DIALOG - H_BUTTON - 7

#define X_OK                X_CANCEL - W_BUTTON - 4
#define Y_OK                Y_CANCEL

IDD_CONFIGURATION dialogex 0, 0, W_DIALOG, H_DIALOG
caption "Spectrum Analyzer Configuration"
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
{
    rtext           "Filename:",    IDC_STATIC,     X_FILENAME_LABEL, Y_FILENAME_LABEL, W_FILENAME_LABEL, H_FILENAME_LABEL, SS_NOPREFIX
    edittext                        IDC_FILENAME,   X_FILENAME, Y_FILENAME, W_FILENAME, H_FILENAME, ES_LEFT | ES_AUTOHSCROLL | WS_TABSTOP

    defpushbutton   "OK",           IDOK,           X_OK, Y_OK, W_BUTTON, H_BUTTON
    pushbutton      "Cancel",       IDCANCEL,       X_CANCEL, Y_CANCEL, W_BUTTON, H_BUTTON
}
