
/** $VER: Resources.rc (2023.11.16) P. Stuer **/

#include "Resources.h"

#include <winres.h>

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

VS_VERSION_INFO versioninfo
fileversion     NUM_FILE_MAJOR,    NUM_FILE_MINOR,    NUM_FILE_PATCH,    NUM_FILE_PRERELEASE
productversion  NUM_PRODUCT_MAJOR, NUM_PRODUCT_MINOR, NUM_PRODUCT_PATCH, NUM_PRODUCT_PRERELEASE
fileflagsmask   0x3FL
#ifdef _DEBUG
fileflags       VS_FF_DEBUG
#else
fileflags       0
#endif
fileos          VOS_NT_WINDOWS32
filetype        VFT_DLL
filesubtype     VFT2_UNKNOWN
{
    block "StringFileInfo"
    {
        block "040904E4" // U.S. English, Multilingual character set
        {
            value "FileVersion",      STR_FILE_VERSION     "\0"
            value "FileDescription",  STR_FILE_DESCRIPTION "\0"
            value "LegalCopyright",   STR_COPYRIGHT        "\0"
            value "LegalTrademarks",                       "\0"
            value "Comments",         STR_COMMENTS         "\0"
            value "CompanyName",      STR_COMPANY_NAME     "\0"
            value "InternalName",     STR_INTERNAL_NAME    "\0"
            value "OriginalFilename", STR_FILE_NAME        "\0"
            value "ProductName",      STR_PRODUCT_NAME     "\0"
            value "ProductVersion",   STR_PRODUCT_VERSION  "\0"
        }
    }

    block "VarFileInfo"
    {
        value "Translation", 0x409, 1252    // U.S. English, Multilingual character set
    }
}

/** Configuration dialog **/

#include "Layout.h"

IDD_CONFIGURATION dialogex 0, 0, W_A00, H_A00
caption "Spectrum Analyzer Configuration"
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
{
    rtext           "Frequencies:", IDC_STATIC,      X_A01, Y_A01 + 2, W_A01, H_A01
    combobox                        IDC_FREQUENCIES, X_A02, Y_A02,     W_A02, H_A02, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "FFT Size:",    IDC_STATIC,      X_A03, Y_A03 + 2, W_A03, H_A03
    combobox                        IDC_FFT_SIZE,    X_A04, Y_A04,     W_A04, H_A04, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "X Axis:",      IDC_STATIC,      X_A05, Y_A05 + 2, W_A05, H_A05
    combobox                        IDC_X_AXIS,      X_A06, Y_A06,     W_A06, H_A06, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "Y Axis:",      IDC_STATIC,      X_A07, Y_A07 + 2, W_A07, H_A07
    combobox                        IDC_Y_AXIS,      X_A08, Y_A08,     W_A08, H_A08, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "Color Scheme:",IDC_STATIC,      X_A09, Y_A09 + 2, W_A09, H_A09
    combobox                        IDC_COLOR_SCHEME,X_A10, Y_A10,     W_A10, H_A10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "Peak Mode:",   IDC_STATIC,      X_A11, Y_A11 + 2, W_A11, H_A11
    combobox                        IDC_PEAK_MODE,   X_A12, Y_A12,     W_A12, H_A12, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    defpushbutton   "OK",           IDOK,            X_A99, Y_A99, W_A99, H_A99
    pushbutton      "Cancel",       IDCANCEL,        X_A98, Y_A98, W_A98, H_A98
}
