
/** $VER: FrequenciesPage.rc (2026.02.20) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "FrequenciesPageLayout.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_FREQUENCIES_PAGE dialogex 0, 0, 0, 0
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
{
    groupbox "Frequencies", IDC_FREQUENCIES_GROUP, X_B01, Y_B01, W_B01, H_B01, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Distribution:",            IDC_DISTRIBUTION_LBL,           X_A01, Y_A01 + 2, W_A01, H_A01
        combobox                                    IDC_DISTRIBUTION,               X_A02, Y_A02,     W_A02, H_A02, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        rtext           "No. of bands:",            IDC_NUM_BANDS_LBL,              X_A19, Y_A19 + 2, W_A19, H_A19
        edittext                                    IDC_NUM_BANDS,                  X_A20, Y_A20, W_A20, H_A20, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_NUM_BANDS_SPIN              "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 0, 0, 0, 0

        rtext           "Frequency range:"          IDC_RANGE_LBL_1,                X_A21, Y_A21 + 2, W_A21, H_A21
        edittext                                    IDC_LO_FREQUENCY,               X_A22, Y_A22, W_A22, H_A22, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_LO_FREQUENCY_SPIN           "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
        ctext           "-"                         IDC_RANGE_LBL_2,                X_A23, Y_A23 + 2, W_A23, H_A23
        edittext                                    IDC_HI_FREQUENCY,               X_A24, Y_A24, W_A24, H_A24, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_HI_FREQUENCY_SPIN           "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
        ltext           "Hz",                       IDC_RANGE_LBL_3,                X_A24b, Y_A24b + 2, W_A24b, H_A24b

        rtext           "Note range:"               IDC_MIN_NOTE_LBL,               X_A25, Y_A25 + 2, W_A25, H_A25
        edittext                                    IDC_MIN_NOTE,                   X_A26, Y_A26, W_A26, H_A26, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
        control         "",                         IDC_MIN_NOTE_SPIN,              "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 0, 0, 0, 0
        ctext           "-"                         IDC_MAX_NOTE_LBL,               X_A27, Y_A27 + 2, W_A27, H_A27
        edittext                                    IDC_MAX_NOTE,                   X_A28, Y_A28, W_A28, H_A28, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
        control         "",                         IDC_MAX_NOTE_SPIN,              "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY, 0, 0, 0, 0

        rtext           "Bands per octave:"         IDC_BANDS_PER_OCTAVE_LBL,       X_A55, Y_A55 + 2, W_A55, H_A55
        edittext                                    IDC_BANDS_PER_OCTAVE,           X_A56, Y_A56, W_A56, H_A56, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
        control         "",                         IDC_BANDS_PER_OCTAVE_SPIN,      "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 0, 0, 0, 0

        rtext           "Tuning pitch:"             IDC_PITCH_LBL_1,                X_A29, Y_A29 + 2, W_A29, H_A29
        edittext                                    IDC_PITCH,                      X_A30, Y_A30, W_A30, H_A30, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_PITCH_SPIN,                 "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
        ltext           "Hz",                       IDC_PITCH_LBL_2,                X_A64, Y_A64 + 2, W_A64, H_A64

        rtext           "Transpose:"                IDC_TRANSPOSE_LBL,              X_A31, Y_A31 + 2, W_A31, H_A31
        edittext                                    IDC_TRANSPOSE,                  X_A32, Y_A32, W_A32, H_A32, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
        control         "",                         IDC_TRANSPOSE_SPIN,             "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 0, 0, 0, 0

        rtext           "Scaling:",                 IDC_SCALING_FUNCTION_LBL,       X_A13, Y_A13 + 2, W_A13, H_A13
        combobox                                    IDC_SCALING_FUNCTION,           X_A14, Y_A14,     W_A14, H_A14, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        rtext           "Skew factor:"              IDC_SKEW_FACTOR_LBL,            X_A33, Y_A33 + 2, W_A33, H_A33
        edittext                                    IDC_SKEW_FACTOR,                X_A34, Y_A34, W_A34, H_A34, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
        control         "",                         IDC_SKEW_FACTOR_SPIN,           "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0

        rtext           "Bandwidth:"                IDC_BANDWIDTH_LBL,              X_A35, Y_A35 + 2, W_A35, H_A35
        edittext                                    IDC_BANDWIDTH,                  X_A36, Y_A36, W_A36, H_A36, ES_RIGHT | ES_AUTOHSCROLL | ES_READONLY | WS_TABSTOP
        control         "",                         IDC_BANDWIDTH_SPIN,             "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
}
