
/** $VER: GraphsPage.rc (2026.02.20) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "GraphsPageLayout.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_GRAPHS_PAGE dialogex 0, 0, 0, 0
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
{
    listbox IDC_GRAPH_SETTINGS, X_G20, Y_G20, W_G20, H_G20, LBS_HASSTRINGS | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

        pushbutton      "+",                        IDC_ADD_GRAPH,                  X_G21, Y_G21,     W_G21, H_G21
        pushbutton      "-",                        IDC_REMOVE_GRAPH,               X_G22, Y_G22,     W_G22, H_G22

        control         "Vertical layout" IDC_VERTICAL_LAYOUT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G23, Y_G23, W_G23, H_G23

    rtext               "Description:"              IDC_GRAPH_DESCRIPTION_LBL       X_G24, Y_G24 + 2, W_G24, H_G24
    edittext                                        IDC_GRAPH_DESCRIPTION           X_G25, Y_G25,     W_G25, H_G25, ES_AUTOHSCROLL | WS_TABSTOP

    groupbox "Layout", IDC_LAYOUT, X_B16, Y_B16, W_B16, H_B16, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Horizontal alignment:",    IDC_HORIZONTAL_ALIGNMENT_LBL,   X_G33, Y_G33 + 2, W_G33, H_G33
        combobox                                    IDC_HORIZONTAL_ALIGNMENT,       X_G34, Y_G34,     W_G34, H_G34, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        control         "Flip horizontally"         IDC_FLIP_HORIZONTALLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G26, Y_G26, W_G26, H_G26
        control         "Flip vertically"           IDC_FLIP_VERTICALLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G27, Y_G27, W_G27, H_G27

    groupbox "X axis", IDC_X_AXIS, X_B02, Y_B02, W_B02, H_B02, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Mode:",                    IDC_X_AXIS_MODE_LBL,        X_A05, Y_A05 + 2, W_A05, H_A05
        combobox                                    IDC_X_AXIS_MODE,            X_A06, Y_A06,     W_A06, H_A06, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        control         "Top",                      IDC_X_AXIS_TOP,    "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G15, Y_G15, W_G15, H_G15
        control         "Bottom",                   IDC_X_AXIS_BOTTOM, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G16, Y_G16, W_G16, H_G16

    groupbox "Y axis", IDC_Y_AXIS, X_B03, Y_B03, W_B03, H_B03, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Mode:",                    IDC_Y_AXIS_MODE_LBL,        X_A07, Y_A07 + 2, W_A07, H_A07
        combobox                                    IDC_Y_AXIS_MODE,            X_A08, Y_A08,     W_A08, H_A08, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        control         "Left",                     IDC_Y_AXIS_LEFT,  "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G17, Y_G17, W_G17, H_G17
        control         "Right",                    IDC_Y_AXIS_RIGHT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_G18, Y_G18, W_G18, H_G18

        rtext           "Amplitude range:"          IDC_AMPLITUDE_LBL_1         X_A45, Y_A45 + 2, W_A45, H_A45
        edittext                                    IDC_AMPLITUDE_LO,           X_A46, Y_A46, W_A46, H_A46, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_AMPLITUDE_LO_SPIN       "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
        ctext           "-"                         IDC_AMPLITUDE_LBL_2         X_A47, Y_A47 + 2, W_A47, H_A47
        edittext                                    IDC_AMPLITUDE_HI,           X_A48, Y_A48, W_A48, H_A48, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_AMPLITUDE_HI_SPIN       "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
        ltext           "dB"                        IDC_AMPLITUDE_LBL_3         X_A49, Y_A49 + 2, W_A49, H_A49

        rtext           "Amplitude step:"           IDC_AMPLITUDE_STEP_LBL,     X_A84, Y_A84 + 2, W_A84, H_A84
        edittext                                    IDC_AMPLITUDE_STEP,         X_A85, Y_A85, W_A85, H_A85, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_AMPLITUDE_STEP_SPIN     "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
        ltext           "dB"                        IDC_AMPLITUDE_STEP_UNIT,    X_A86, Y_A86 + 2, W_A86, H_A86

        control         "Use absolute",             IDC_USE_ABSOLUTE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_A50, Y_A50, W_A50, H_A50

        rtext           "Gamma:"                    IDC_GAMMA_LBL,                  X_A41, Y_A41 + 2, W_A41, H_A41
        edittext                                    IDC_GAMMA                       X_A42, Y_A42, W_A42, H_A42, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP

    ltext       "Channels:",                        IDC_CHANNELS_LBL,               X_G28, Y_G28 + 2, W_G28, H_G28
    listbox IDC_CHANNELS, X_G29, Y_G29, W_G29, H_G29, LBS_HASSTRINGS | LBS_MULTIPLESEL | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

    pushbutton  "All",                              IDC_ALL_CHANNELS,               X_G52, Y_G52, W_G52, H_G52
    pushbutton  "None",                             IDC_NO_CHANNELS,                X_G53, Y_G53, W_G53, H_G53

    ltext       "Channel pair:",                    IDC_CHANNEL_PAIRS_LBL,          X_C50, Y_C50 + 2, W_C50, H_C50
    combobox                                        IDC_CHANNEL_PAIRS,              X_C51, Y_C51,     W_C51, H_C51, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    control     "Swap channels",                    IDC_SWAP_CHANNELS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C53, Y_C53, W_C53, H_C53
}
