
/** $VER: ConfigurationDialog.rc (2026.02.22) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "NewConfigurationDialogLayout.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_MAIN_DIALOG dialogex 0, 0, W_A00, H_A00
caption "Spectrum Analyzer Configuration"
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_OVERLAPPEDWINDOW | WS_CLIPCHILDREN
{
    listbox IDC_MENULIST, X_D01, Y_D01, W_D01, H_D01, LBS_OWNERDRAWVARIABLE | LBS_HASSTRINGS | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP

    pushbutton      "Reset",    IDC_RESET,  X_A97, Y_A97, W_A97, H_A97
    defpushbutton   "OK",       IDOK,       X_A98, Y_A98, W_A98, H_A98
    pushbutton      "Cancel",   IDCANCEL,   X_A99, Y_A99, W_A99, H_A99
}
