
/** $VER: PresetsPage.rc (2026.02.20) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "PresetsPageLayout.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_PRESETS_PAGE dialogex 0, 0, 0, 0
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
{
    rtext           "Location:"                 IDC_PRESETS_LBL,                X_J01, Y_J01 + 2, W_J01, H_J01
    edittext                                    IDC_PRESETS_ROOT,               X_J02, Y_J02,     W_J02, H_J02, ES_AUTOHSCROLL
    pushbutton      "...",                      IDC_PRESETS_ROOT_SELECT,        X_J03, Y_J03,     W_J03, H_J03

    listbox                                     IDC_PRESET_NAMES,               X_J04, Y_J04,     W_J04, H_J04, LBS_HASSTRINGS | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

    rtext           "Name:"                     IDC_PRESET_NAME_LBL,            X_J05, Y_J05 + 2, W_J05, H_J05
    edittext                                    IDC_PRESET_NAME,                X_J06, Y_J06,     W_J06, H_J06, ES_AUTOHSCROLL

    pushbutton      "Load",                     IDC_PRESET_LOAD,                X_J07, Y_J07,     W_J07, H_J07
    pushbutton      "Save",                     IDC_PRESET_SAVE,                X_J08, Y_J08,     W_J08, H_J08
    pushbutton      "Delete",                   IDC_PRESET_DELETE,              X_J09, Y_J09,     W_J09, H_J09
}
