
/** $VER: StylesPage.rc (2026.02.22) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "StylesPageLayout.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_STYLES_PAGE dialogex 0, 0, W_I00, H_I00
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
{
    listbox IDC_STYLES, X_I01, Y_I01, W_I01, H_I01, LBS_HASSTRINGS | LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP

    rtext           "Color source:",            IDC_COLOR_SOURCE_LBL,           X_I02, Y_I02 + 2, W_I02, H_I02
    combobox                                    IDC_COLOR_SOURCE,               X_I03, Y_I03,     W_I03, H_I03, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "Color index:",             IDC_COLOR_INDEX_LBL,            X_I04, Y_I04 + 2, W_I04, H_I04
    combobox                                    IDC_COLOR_INDEX,                X_I05, Y_I05,     W_I05, H_I05, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    rtext           "Color:"                    IDC_COLOR_BUTTON_LBL,           X_I06, Y_I06 + 2, W_I06, H_I06, SS_NOPREFIX
    ltext           "",                         IDC_COLOR_BUTTON,               X_I07, Y_I07,     W_I07, H_I07, SS_NOTIFY, WS_EX_STATICEDGE

    rtext           "Color scheme:",            IDC_COLOR_SCHEME_LBL,           X_A09, Y_A09 + 2, W_A09, H_A09
    combobox                                    IDC_COLOR_SCHEME,               X_A10, Y_A10,     W_A10, H_A10, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    ltext           "",                         IDC_GRADIENT,                   X_A67, Y_A67,     W_A67, H_A67, SS_NOTIFY, WS_EX_STATICEDGE

    listbox                                     IDC_COLOR_LIST,                 X_A68, Y_A68,     W_A68, H_A68, LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT | LBS_NOTIFY | WS_VSCROLL | WS_TABSTOP

    pushbutton      "Add",                      IDC_ADD,                        X_A69, Y_A69,     W_A69, H_A69
    pushbutton      "Remove",                   IDC_REMOVE,                     X_A70, Y_A70,     W_A70, H_A70
    pushbutton      "Reverse",                  IDC_REVERSE,                    X_A71, Y_A71,     W_A71, H_A71

    edittext                                    IDC_POSITION,                   X_F01, Y_F01,     W_F01, H_F01, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
    ltext           "%"                         IDC_POSITION_LBL,               X_F02, Y_F02 + 2, W_F02, H_F02

    pushbutton      "Spread",                   IDC_SPREAD,                     X_F03, Y_F03,     W_F03, H_F03

    control         "Horizontal gradient",      IDC_HORIZONTAL_GRADIENT,        "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C13, Y_C13, W_C13, H_C13
    control         "Amplitude-based",          IDC_AMPLITUDE_BASED,            "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_C14, Y_C14, W_C14, H_C14

    rtext           "Opacity:"                  IDC_OPACITY_LBL,                X_I08, Y_I08 + 2, W_I08, H_I08
    edittext                                    IDC_OPACITY,                    X_I09, Y_I09,     W_I09, H_I09, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
    control         "",                         IDC_OPACITY_SPIN,               "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0
    ltext           "%"                         IDC_OPACITY_UNIT,               X_I10, Y_I10 + 2, W_I10, H_I10

    rtext           "Thickness:"                IDC_THICKNESS_LBL,              X_I11, Y_I11 + 2, W_I11, H_I11
    edittext                                    IDC_THICKNESS,                  X_I12, Y_I12,     W_I12, H_I12, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
    control         "",                         IDC_THICKNESS_SPIN,             "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS, 0, 0, 0, 0

    rtext           "Font name:"                IDC_FONT_NAME_LBL,              X_I13, Y_I13 + 2, W_I13, H_I13
    edittext                                    IDC_FONT_NAME,                  X_I14, Y_I14,     W_I14, H_I14, ES_AUTOHSCROLL | WS_TABSTOP
    pushbutton      "...",                      IDC_FONT_NAME_SELECT,           X_I15, Y_I15,     W_I15, H_I15

    rtext           "Font size:"                IDC_FONT_SIZE_LBL,              X_I16, Y_I16 + 2, W_I16, H_I16
    edittext                                    IDC_FONT_SIZE,                  X_I17, Y_I17,     W_I17, H_I17, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
}
