
/** $VER: TransformPage.rc (2026.02.20) P. Stuer **/

#include "Resources.h"

#include <winres.h>

#include "TransformPageLayout.h"

language LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

IDD_TRANSFORM_PAGE dialogex 0, 0, 0, 0
font 8, "MS Shell Dlg", 400, 0, 0x1
style DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
{
    groupbox "Transform", IDC_TRANSFORM_GROUP, X_B05, Y_B05, W_B05, H_B05, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Method:"                   IDC_METHOD_LBL,                 X_A62, Y_A62 + 2, W_A62, H_A62
        combobox                                    IDC_METHOD,                     X_A63, Y_A63,     W_A63, H_A63, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        rtext           "Window function:"          IDC_WINDOW_FUNCTION_LBL,        X_C01, Y_C01 + 2, W_C01, H_C01
        combobox                                    IDC_WINDOW_FUNCTION,            X_C02, Y_C02,     W_C02, H_C02, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        rtext           "Window parameter:"         IDC_WINDOW_PARAMETER_LBL,       X_C03, Y_C03 + 2, W_C03, H_C03
        edittext                                    IDC_WINDOW_PARAMETER,           X_C04, Y_C04, W_C04, H_C04, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP

        rtext           "Window skew:"              IDC_WINDOW_SKEW_LBL,            X_C05, Y_C05 + 2, W_C05, H_C05
        edittext                                    IDC_WINDOW_SKEW,                X_C06, Y_C06, W_C06, H_C06, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP

        rtext           "Reaction alignment:"       IDC_REACTION_ALIGNMENT_LBL,     X_C07, Y_C07 + 2, W_C07, H_C07
        edittext                                    IDC_REACTION_ALIGNMENT          X_C08, Y_C08, W_C08, H_C08, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP

    groupbox "Fourier Transform", IDC_FFT_GROUP, X_B00, Y_B00, W_B00, H_B00, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "No. of bins:"              IDC_NUM_BINS_LBL,               X_A03, Y_A03 + 2, W_A03, H_A03
        combobox                                    IDC_NUM_BINS,                   X_A04, Y_A04,     W_A04, H_A04, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        rtext           ""                          IDC_NUM_BINS_PARAMETER_NAME,    X_A61, Y_A61 + 2, W_A61, H_A61
        edittext                                    IDC_NUM_BINS_PARAMETER,         X_A59, Y_A59, W_A59, H_A59, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        ltext           "samples",                  IDC_NUM_BINS_PARAMETER_UNIT,    X_A60, Y_A60 + 2, W_A60, H_A60

        rtext           "Coeff. aggregation:"       IDC_SUMMATION_METHOD_LBL,       X_A15, Y_A15 + 2, W_A15, H_A15
        combobox                                    IDC_SUMMATION_METHOD,           X_A16, Y_A16,     W_A16, H_A16, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        rtext           "Mapping:",                 IDC_MAPPING_METHOD_LBL,         X_A65, Y_A65 + 2, W_A65, H_A65
        combobox                                    IDC_MAPPING_METHOD,             X_A66, Y_A66,     W_A66, H_A66, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

        control         "Smooth lower frequencies", IDC_SMOOTH_LOWER_FREQUENCIES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_A43, Y_A43, W_A43, H_A43
        control         "Smooth gain transition",   IDC_SMOOTH_GAIN_TRANSITION,   "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_A44, Y_A44, W_A44, H_A44

        rtext           "Lanczos kernel:"           IDC_KERNEL_SIZE_LBL,            X_A39, Y_A39 + 2, W_A39, H_A39
        edittext                                    IDC_KERNEL_SIZE,                X_A40, Y_A40, W_A40, H_A40, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "",                         IDC_KERNEL_SIZE_SPIN,           "msctls_updown32", UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_AUTOBUDDY | UDS_NOTHOUSANDS | UDS_SETBUDDYINT, 0, 0, 0, 0

    groupbox "Brown-Puckette CQT Mapping", IDC_BP_GROUP, X_B10, Y_B10, W_B10, H_B10, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Bandwidth offset:",        IDC_BW_OFFSET_LBL,              X_F04, Y_F04 + 2, W_F04, H_F04
        edittext                                    IDC_BW_OFFSET,                  X_F05, Y_F05,     W_F05, H_F05, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        rtext           "Bandwidth cap:",           IDC_BW_CAP_LBL,                 X_F06, Y_F06 + 2, W_F06, H_F06
        edittext                                    IDC_BW_CAP,                     X_F07, Y_F07,     W_F07, H_F07, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        rtext           "Bandwidth amount:",        IDC_BW_AMOUNT_LBL,              X_F08, Y_F08 + 2, W_F08, H_F09
        edittext                                    IDC_BW_AMOUNT,                  X_F09, Y_F09,     W_F09, H_F09, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "Granular bandwidth",       IDC_GRANULAR_BW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_F10, Y_F10, W_F10, H_F10

        rtext           "Kernel shape:"             IDC_KERNEL_SHAPE_LBL,           X_A89, Y_A89 + 2, W_A89, H_A89
        combobox                                    IDC_KERNEL_SHAPE,               X_A90, Y_A90,     W_A90, H_A90, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
        rtext           "Kernel shape parameter:"   IDC_KERNEL_SHAPE_PARAMETER_LBL, X_A91, Y_A91 + 2, W_A91, H_A91
        edittext                                    IDC_KERNEL_SHAPE_PARAMETER,     X_A92, Y_A92,     W_A92, H_A92, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        rtext           "Kernel asymmetry:"         IDC_KERNEL_ASYMMETRY_LBL,       X_A93, Y_A93 + 2, W_A93, H_A93
        edittext                                    IDC_KERNEL_ASYMMETRY,           X_A94, Y_A94,     W_A94, H_A94, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP

    groupbox "Infinite Impulse Response (IIR)", IDC_IIR_GROUP, X_B11, Y_B11, W_B11, H_B11, BS_GROUPBOX, WS_EX_TRANSPARENT

        rtext           "Filter bank order:",       IDC_FBO_LBL,                    X_F11, Y_F11 + 2, W_F11, H_F11
        edittext                                    IDC_FBO,                        X_F12, Y_F12,     W_F12, H_F12, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        rtext           "Time resolution:",         IDC_TR_LBL,                     X_F13, Y_F13 + 2, W_F13, H_F13
        edittext                                    IDC_TR,                         X_F14, Y_F14,     W_F14, H_F14, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        rtext           "Bandwidth:",               IDC_IIR_BW_LBL,                 X_F15, Y_F15 + 2, W_F15, H_F15
        edittext                                    IDC_IIR_BW,                     X_F16, Y_F16,     W_F16, H_F16, ES_RIGHT | ES_AUTOHSCROLL | WS_TABSTOP
        control         "Constant-Q",               IDC_CONSTANT_Q, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_F17, Y_F17, W_F17, H_F17
        control         "Compensate bandwidth",     IDC_COMPENSATE_BW, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_F18, Y_F18, W_F18, H_F18
        control         "Use prewarped Q",          IDC_PREWARPED_Q, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, X_F19, Y_F19, W_F19, H_F19
}
